.overviewImageBg {
  padding: 12rem;
  /* background-image: url('/img/home.png'); */
  background-size: cover; /* Cover the entire div, maintaining aspect ratio */
  
  /* background-position: center; */

  background-repeat: no-repeat; /* Prevent the image from repeating */

  background-color: rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;

  border-radius: var(--ifm-card-border-radius);
}

@media screen and (max-width: 996px) {
  .overviewImageBg {
    padding: 6rem;
  }
}
