section {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
section p {
  margin-bottom: 27px;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  text-align: justify;
}
section img {
  max-width: 100%;
}
.aspectRatioPlaceholder {
  max-width: auto !important;
  max-height: auto !important;
}
.aspectRatioPlaceholder-fill {
  padding-bottom: 0 !important;
}
.subheading a {
  color: #02B875;
}

.post-preview>a:focus, .post-preview>a:hover {
  text-decoration: none;
  color: #02B875 !important;
}

a:hover, a:focus {
  color: #02B875 !important;
}

.post-subtitle {
  margin-top: 0;
  font-weight: 300;
}

.pager li>a {
  transition: all 0.3s;
}
.pager li>a:hover, .pager li>a:focus {
  color: white !important;
  background-color: #02B875 !important;
  border: 1px solid #02B875 !important;
}

::selection {
  background: #02B875 !important;
}