/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroWrapper {
  /* background-image: url('/img/home.png'); */
  overflow: hidden;
  background-size: cover; /* Cover the entire div, maintaining aspect ratio */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: 30% 50%;
}

.heroBanner {
  color: var(--ifm-font-color-base);
  padding: 6rem 0 6rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

.heroBanner h1 {
  font-size: 4rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 1rem;
  }
  .heroBanner h1 {
    font-size: 2.5rem;
  }
  .heroSubtitle {
    text-align: center;
    padding: 0 10px;
    font-size: 18px;
  }
}

.buttons {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.heroSubtitle {
  text-align: center;
  padding: 0 100px;
}
