{{ partial "header.html" . }}

<header class="intro-header b-lazy" data-src="/img/about-bg.jpg" style="
background-image: url('/img/about-bg-poly.png');
">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>{{ .Title }}</h1>
          <hr class="small">
          <span class="subheading">{{ .Description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ .Content }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}