<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ end }}">
    <meta name="author" content="Adnan Rahić">
    <meta name="keywords" content="{{ if .Keywords }}{{ delimit .Keywords ", " }}{{ end }}">


    <title>{{ .Title }} | {{ .Site.Title }}</title>

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <!-- Inline Bootstrap -->
    {{ partial "inline-bootstrap.html" . }}
    <!-- Inline CSS -->
    {{ partial "inline-style.html" . }}

    <!-- Canonical URL -->
    {{ if .Params.canonical }}
    <link rel="canonical" href="{{ .Params.canonical }}">
    {{ end }}

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Facebook -->
    <meta name="title" property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="description" property="og:description" content="{{ if .Description }}{{ .Description }}{{ end }}" />
    <meta name="image" property="og:image" content="{{ .Params.image }}" />
    <!-- <meta property="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" /> -->
    <!-- End Facebook -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@adnanrahic" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ end }}" />
    <meta name="twitter:image" content="{{ .Params.image }}" />
    <!-- <meta name="twitter:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" /> -->
    <!-- End Twitter -->

    <!-- Sematext RUM -->
    <script type="text/javascript">
        (function(e,t,r,n,a){var c=[];e[a]=function(){c.push(arguments)};
        e[a].queue=c;var s=t.createElement(r);s.async=1;s.src=n;
        var u=t.getElementsByTagName(r)[0];u.parentNode.insertBefore(s,u)})
        (window,document,"script","//dlv9be7z5p95f.cloudfront.net/rum.js","strum");
    </script>
    <script type="text/javascript">
        strum('config', { token: 'fd633b3c-0514-42ed-978e-694ee14af636', 'receiverUrl': 'https://rum-receiver.apps.test.sematext.com' });
    </script>
    <!-- End Sematext RUM -->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ .Site.Title }}</a>
            </div>

            {{ partial "navbar.html" . }}
        </div>
        <!-- /.container -->
    </nav>