<!-- Grab RUM script -->
<script type="text/javascript">
  (function(e,t,r,n,a){var c=[];e[a]=function(){c.push(arguments)};
  e[a].queue=c;var s=t.createElement(r);s.async=1;s.src=n;
  var u=t.getElementsByTagName(r)[0];u.parentNode.insertBefore(s,u)})
  (window,document,"script","//cdn.sematext.com/rum.js","strum");
</script>

  <!-- Config RUM token - Prod Env -->
<script type="text/javascript">
  strum('config', { token: '8949fac6-13b6-4d91-9b9b-764dfffd2fe4', 'receiverUrl': 'https://rum-receiver.sematext.com' });
</script>
