<!-- jQuery -->
<script src="/vendor/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap.min.js" async></script>

<!-- Blazy -->
<script src="https://cdn.jsdelivr.net/npm/blazy@1.8.2/blazy.min.js"></script>
<script src="/js/img-load.js" async></script>

<!-- Prism -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js" async></script>

<!-- PWA -->
<script src="/upup.min.js"></script>
<script src="/upup.sw.min.js"></script>
<script src="/sw.js"></script>

<!-- scripts -->
<script src="/js/contact.js"></script>