{{ partial "header.html" .}}

<!-- Page Header -->
<header class="intro-header b-lazy" data-src="/img/home.jpg" style="
background-color: rgba(0,0,0,0.5);
background-position: 30% 50%;
">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Hi!<br> I'm Adnan Rahić</h1>
          <hr class="small">
          <h2 class="subheading">Who am I?<br> Well, I <b>author this blog, write code</b> for a living and <b>share my knowledge</b> with the world.</h2>
          <span class="subheading">
            I'm one of the youngest <b>serverless influencers</b> in the world. 
            <br>
            <b><a href="/about">Follow me</a> on social media</b> if you like what I do.
          </span>
          <span class="subheading">Or, scroll down to see what I've been hacking on.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2 align="center">Blog</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
      <hr>
      {{ $posts := or .Site.Params.PostSummariesFrontPage 8 }} {{ range first $posts (where .Data.Pages "Type" "post") }} {{ .Render "summary"}} {{ end }}
      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="{{ .Site.BaseURL }}/post/">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

{{ partial "footer.html" .}}